<!DOCTYPE html>
<html>
<head>
    <title></title>

    <style>
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 0px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:;
  color:black;
}
</style>

</head>
<body>

<table id="customers">
    <thead>
                <tr>
                  <th><img src=""></th>
                  <th>Total Thickness</th>
                  <th>Minimum Pulley Diameter (MM)</th>
                  <th>Tensile Strength at 1% Elongation N/MM</th>
                  <th>Surface (Top/Bottom)</th>
                  <th>Surface Structure (Top/Bottom)</th>
                  <th>Color (Top/Bottom)</th>
                  <th>Temperature Range °C</th>
                  <th>Antistatic</th>
                  <th>Drive Determination</th>
                </tr>
              </thead>
    <tbody>
        <tr>
                                <td>DKR50</td>
                                <td class="uk-text-center">1.5</td>
                                <td class="uk-text-center">40</td>
                                <td class="uk-text-center">5</td>
                                <td class="uk-text-center">NBR/NBR</td>
                                <td class="uk-text-center">Rough/Rough</td>
                                <td class="uk-text-center">Green/Light Green</td>
                                <td class="uk-text-center">-20 to 100</td>
                                <td class="uk-text-center">Yes</td>
                                <td class="uk-text-center">Double Sided</td>
                            </tr>
                            <tr>
                               <td>DKR50</td>
                  <td class="uk-text-center">1.7</td>
                  <td class="uk-text-center">40</td>
                  <td class="uk-text-center">4.8</td>
                  <td class="uk-text-center">NBR/NBR</td>
                  <td class="uk-text-center">Rough/Fine</td>
                  <td class="uk-text-center">Yellow/Light Green</td>
                  <td class="uk-text-center">-20 to 100</td>
                  <td class="uk-text-center">Yes</td>
                  <td class="uk-text-center">Double Sided</td>
                            </tr>
                            <tr>
                                <td>DKR50</td>
                  <td class="uk-text-center">2</td>
                  <td class="uk-text-center">40</td>
                  <td class="uk-text-center">4.8</td>
                  <td class="uk-text-center">NBR/NBR</td>
                  <td class="uk-text-center">Rough/Fine</td>
                  <td class="uk-text-center">Yellow/Light Green</td>
                  <td class="uk-text-center">-20 to 100</td>
                  <td class="uk-text-center">Yes</td>
                  <td class="uk-text-center">Double Sided</td>
                                </tr>
                                <tr>
                                <td>DKR75</td>
                  <td class="uk-text-center">2</td>
                  <td class="uk-text-center">60</td>
                  <td class="uk-text-center">7.5</td>
                  <td class="uk-text-center">NBR/NBR</td>
                  <td class="uk-text-center">Rough/Rough</td>
                  <td class="uk-text-center">Blue/Gray</td>
                  <td class="uk-text-center">-20 to 100</td>
                  <td class="uk-text-center">Yes</td>
                  <td class="uk-text-center">Double Sided</td></tr>
                                <tr>
                                <td>DKR75</td>
                  <td class="uk-text-center">2.3</td>
                  <td class="uk-text-center">60</td>
                  <td class="uk-text-center">7.5</td>
                  <td class="uk-text-center">NBR/NBR</td>
                  <td class="uk-text-center">Fine/Rough</td>
                  <td class="uk-text-center">Blue/Gray</td>
                  <td class="uk-text-center">-20 to 100</td>
                  <td class="uk-text-center">Yes</td>
                  <td class="uk-text-center">Double Sided</td>
                                </tr>
                                <tr>
                                <td>DKR75</td>
                  <td class="uk-text-center">3</td>
                  <td class="uk-text-center">60</td>
                  <td class="uk-text-center">8</td>
                  <td class="uk-text-center">NBR/NBR</td>
                  <td class="uk-text-center">Rough/Rough</td>
                  <td class="uk-text-center">Blue/Gray</td>
                  <td class="uk-text-center">-20 to 100</td>
                  <td class="uk-text-center">Yes</td>
                  <td class="uk-text-center">Double Sided</td>
                                </tr>
                                <tr>
                                <td>DKR75</td>
                  <td class="uk-text-center">5</td>
                  <td class="uk-text-center">80</td>
                  <td class="uk-text-center">8</td>
                  <td class="uk-text-center">NBR/NBR</td>
                  <td class="uk-text-center">Rough/Rough</td>
                  <td class="uk-text-center">Blue/Gray</td>
                  <td class="uk-text-center">-20 to 100</td>
                  <td class="uk-text-center">Yes</td>
                  <td class="uk-text-center">Double Sided</td>
                                </tr>
                                <tr>
                                <td>DKR100</td>
                  <td class="uk-text-center">2</td>
                  <td class="uk-text-center">80</td>
                  <td class="uk-text-center">10</td>
                  <td class="uk-text-center">NBR/NBR</td>
                  <td class="uk-text-center">Rough/Rough</td>
                  <td class="uk-text-center">Blue/Gray</td>
                  <td class="uk-text-center">-20 to 100</td>
                  <td class="uk-text-center">Yes</td>
                  <td class="uk-text-center">Double Sided</td>
              </tr>
                                <tr>
                                <td>DKR100</td>
                  <td class="uk-text-center">2.3</td>
                  <td class="uk-text-center">80</td>
                  <td class="uk-text-center">11</td>
                  <td class="uk-text-center">NBR/NBR</td>
                  <td class="uk-text-center">Rough/Fine</td>
                  <td class="uk-text-center">Blue/Gray</td>
                  <td class="uk-text-center">-20 to 100</td>
                  <td class="uk-text-center">Yes</td>
                  <td class="uk-text-center">Double Sided</td>
                            </tr>
                            <tr>
                  <td>DKR100</td>
                  <td class="uk-text-center">2.6</td>
                  <td class="uk-text-center">100</td>
                  <td class="uk-text-center">11</td>
                  <td class="uk-text-center">NBR/NBR</td>
                  <td class="uk-text-center">Rough/Fine</td>
                  <td class="uk-text-center">Blue/Gray</td>
                  <td class="uk-text-center">-20 to 105</td>
                  <td class="uk-text-center">Yes</td>
                  <td class="uk-text-center">Double Sided</td>
                </tr>
                <tr>
                  <td>DKR100</td>
                  <td class="uk-text-center">3</td>
                  <td class="uk-text-center">100</td>
                  <td class="uk-text-center">11</td>
                  <td class="uk-text-center">NBR/NBR</td>
                  <td class="uk-text-center">Rough/Rough</td>
                  <td class="uk-text-center">Blue/Gray</td>
                  <td class="uk-text-center">-20 to 105</td>
                  <td class="uk-text-center">Yes</td>
                  <td class="uk-text-center">Double Sided</td>
                </tr>
                <tr>
                  <td>DKR100</td>
                  <td class="uk-text-center">5</td>
                  <td class="uk-text-center">120</td>
                  <td class="uk-text-center">12</td>
                  <td class="uk-text-center">NBR/NBR</td>
                  <td class="uk-text-center">Rough/Rough</td>
                  <td class="uk-text-center">Blue/Gray</td>
                  <td class="uk-text-center">-20 to 105</td>
                  <td class="uk-text-center">Yes</td>
                  <td class="uk-text-center">Double Sided</td>
                </tr>
                <tr>
                  <td>DKR150</td>
                  <td class="uk-text-center">3.2</td>
                  <td class="uk-text-center">125</td>
                  <td class="uk-text-center">15</td>
                  <td class="uk-text-center">NBR/NBR</td>
                  <td class="uk-text-center">Rough/Rough</td>
                  <td class="uk-text-center">Blue/Gray</td>
                  <td class="uk-text-center">-20 to 105</td>
                  <td class="uk-text-center">Yes</td>
                  <td class="uk-text-center">Double Sided</td>
                </tr>
                <tr>
                  <td>DKR150</td>
                  <td class="uk-text-center">4</td>
                  <td class="uk-text-center">125</td>
                  <td class="uk-text-center">16.5</td>
                  <td class="uk-text-center">NBR/NBR</td>
                  <td class="uk-text-center">Rough/Rough</td>
                  <td class="uk-text-center">Blue/Gray</td>
                  <td class="uk-text-center">-20 to 105</td>
                  <td class="uk-text-center">Yes</td>
                  <td class="uk-text-center">Double Sided</td>
                </tr>
                <tr>
                  <td>DKR200</td>
                  <td class="uk-text-center">4</td>
                  <td class="uk-text-center">150</td>
                  <td class="uk-text-center">20</td>
                  <td class="uk-text-center">NBR/NBR</td>
                  <td class="uk-text-center">Rough/Rough</td>
                  <td class="uk-text-center">Blue/Gray</td>
                  <td class="uk-text-center">-20 to 105</td>
                  <td class="uk-text-center">Yes</td>
                  <td class="uk-text-center">Double Sided</td>
                </tr>    
    </tbody>
</table>


</body>
</html>